@using DataLayer.DTO
@model List<ProductGroupDTO>


@{
    string createParentMenu()
    {
        string output = "";

        foreach (ProductGroupDTO item in Model.Where(x => x.ParentId == null))
        {

            output += @"
            <li class='catmenu-dropdown'><a href='/Product/ProductGroup/" + item.Id + "'>" + item.Title + @"</a>
                <ul class='megamenu catmenu-megamenu'>"
                     + createMenu(item.Id) +
                @"</ul>
            </li>
        ";

        }

        return output ;
    }


    string createMenu(int parentId)
    {
        string outPut = "<li><ul>";

        List<ProductGroupDTO> items = Model.Where(x => x.ParentId != null && x.ParentId == parentId).ToList();

        foreach (var item in items)
        {
            if(Model.Where(x=> x.ParentId == item.Id).Count() > 0)
            {
                outPut += @" <li class='catmenu-dropdown'><a href='/Product/ProductGroup/" + item.Id + "'>" + item.Title + @"</a> ";
                outPut += " <ul class='megamenu catmenu-megamenu'>";
                outPut += " " + createMenu(item.Id) + " ";
                outPut += " </ul> ";
                outPut += " </li> ";
            }
            else
            {
                outPut += " <li><a href='/Product/ProductGroup/" + item.Id + "'>" + item.Title + "</a></li> ";
            }
        }

        return outPut + "</li></ul>";
    }
}

<div class="header-catmenu catmenu hidden-sm hidden-xs">
    <button class="catmenu-trigger">
        <span>دسته ها</span>
    </button>
    <nav class="catmenu-body">
        <ul>
            @Html.Raw(createParentMenu())
        </ul>
    </nav>
</div>

