@using DataLayer.DTO.FAQs




@{
    ViewData["Title"] = "شکایات و پیشنهادات";
}


<style>

    .title-FaqGroup {
    }
</style>


<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row ">
            <div class="main-row bg-white mt-2 mb-2 pl-5 pr-5">

                <div class="col-lg-12 col-md-12 col-xs-12 col-xl-12 ">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs  ddd" style="background: url(../images/Suggestions.svg);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        height: 600px !important;
                        padding-top:280px">
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <form asp-controller="Suggestions" asp-action="Insert">
                                    <div class="ho-form-inner mt-2">
                                        <div class="single-input single-input-half">
                                            <label for="new-review-name">نام*</label>
                                            <input type="text" required name="Name">
                                        </div>

                                        <div class="single-input single-input-half">
                                            <label for="new-review-name">نام خانوادگی*</label>
                                            <input type="text" required name="Family">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="new-review-email">ایمیل</label>
                                            <input type="email" name="Email">
                                        </div>

                                        <div class="single-input single-input-half">
                                            <label for="new-review-email">تلفن</label>
                                            <input type="number" name="Phone">
                                        </div>


                                        <div class="single-input">
                                            <label for="new-review-textbox">پیام شما</label>
                                            <textarea name="Description" cols="30" rows="5"></textarea>
                                        </div>
                                        <div class="single-input text-center">
                                            <button class="ho-button ho-button-dark" type="submit"><span>ارسال پیام</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</div>