@model List<DataLayer.DTO.NewsDTO>
@using DNTPersianUtils.Core


@foreach (var item in Model)
{
    <div class="product-slider-col">

        <article class="blogitem">
            <div class="blogitem-thumb">
                <a href="/Blog/NewsDetail/@item.Id">
                    <img src="@Url.Content( ViewBag.Url +"/" + item.ImageAddress)" class="LastNewsIndexPage__Picture" title="@item.Title" alt="image">
                </a>
            </div>
            <div class="blogitem-content">
                <h6 class="blogitem-title"><a href="/Blog/NewsDetail/@item.Id">@item.Title</a></h6>
                <div class="blogitem-meta">
                    <span class="blogitem-date"><i class="ion ion-md-calendar"></i>@item.Date.ToPersianDateTextify()</span>
                    @*<span class="blogitem-author"><a href="blog.html"><i class="ion ion-md-person"></i>از Admin</a></span>*@
                </div>
            </div>
        </article>

    </div>
}



