@using Service.Repos
@using DataLayer.Entities
@using Service.Repos.Product
@using DataLayer.ViewModels.Products

@inject SiteSettingRepository _siteSettingRepository
@inject ProductGroupRepository _productGroupRepository
@{

    SiteSetting siteSetting = await _siteSettingRepository.GetInfo();
    ProductSearchListViewModel vm = ViewBag.Search;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="description" content="لیفت بازارفروشگاه اینترنتی لوازم و تجهیزات آسانسور،فروش آسانسور با بهترین قیمت وکیفیت در لیفت بازار .فروش انواع موتور،تابلو فرمان، درب،کابین،ریل و لوازم راه‌اندازی،با امکان تعویض و مرجوعی آسان،پرداخت در محل برای خرید کلیک کنید!" />
    <meta name="keywords" content="لیفت بازار،آسانسور،کابین آسانسور،موتور آسانسور، لیفت، بازار، لوازام آسانسور، تجهیزات آسانسور، سیم بکسل آسانسور، سیم بکسل، لوازم، چاله آسانسور، درب، موتور، ریل و لوازم ریل، کابین، تبلو فرمان">
    <meta name="author" content="لیفت بازار">
    <title>فروشگاه اینترنتی آسانسور لیفت بازار</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(siteSetting.TabIcon) ? "staffonly.ir/Uploads/SiteSetting/TabIcon.jpeg"  : Url.Content(ViewBag.Url+"/" + siteSetting.TabIcon))">

    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/responsive.css">


    <!-- file js---------------------------------------------------->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="~/js/vendor/owl.carousel.min.js"></script>
    <script src="~/js/vendor/jquery.countdown.js"></script>
    <script src="~/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/js/vendor/jquery.nice-select.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="~/js/main.js"></script>
</head>
<body>
    <!-- header-------------------------------->
    <header class="header-main">
        <div class="container-main">
            <div>
                <section class="h-main-row">
                    <div class="col-lg-9 col-md-9 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row text-right">
                                    <a href="#">
                                        <img src="@( string.IsNullOrEmpty(siteSetting.Logo) ? "staffonly.ir/Uploads/SiteSetting/Logo.png" : Url.Content("staffonly.ir/" + siteSetting.Logo))" title="LiftBazar, لیفت بازار" alt="LiftBazar, لیفت بازار" asp-append-version="true" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9 pl">
                                <div class="header-search row text-right">
                                    <div class="header-search-box">
                                        <form action="/Product/Index" class="form-search">
                                            <input type="search" class="header-search-input input-bg" name="search-input" placeholder="جستجو کنید…">
                                            <div class="action-btns">
                                                <button class="btn btn-search btn-bg" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="search-filter">
                                                    <div class="form-ui">
                                                        <div class="custom-select-ui">
                                                            <select class="right">
                                                                <option>همه دسته ها</option>
                                                                <option>کالای دیجیتال</option>
                                                                <option>آرایشی بهداشتی</option>
                                                                <option>ابزاری اداری</option>
                                                                <option>مد پوشاک</option>
                                                                <option>خانه آشپز خانه</option>
                                                                <option>لوازم تحریر و هنر</option>
                                                                <option>کودک و نوزاد</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 pl">
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        <div class="nav-account d-block pl">
                                            <span class="icon-account">
                                                <img src="~/images/man.png" class="avator">
                                            </span>
                                            <span class="title-account">حساب کاربری</span>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">پنل کاربری</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">سفارشات من</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">تنظیمات</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <nav class="header-main-nav d-block">
                        <div class="d-block">
                            <div class="align-items-center">
                                <ul class="menu-ul mega-menu-level-one">
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/" class="current-link-menu category-link">
                                            صفحه اصلی
                                        </a>
                                    </li>
                                    @*<li id="nav-menu-item" class="menu-item">
            <a href="#" class="current-link-menu category-link">
                آرشیو محصولات
            </a>
        </li>*@
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Blog/Index" class="current-link-menu category-link">
                                            خبرنامه
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Home/About" class="current-link-menu category-link">
                                            درباره ما
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            تماس با ما
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            درخت کاری
                                        </a>
                                    </li>
                                    <div class="divider-space-card d-block">
                                        <div class="header-cart-basket">
                                            <a href="#" class="cart-basket-box cart-basket-box-bg">
                                                <span class="icon-cart">
                                                    <i class="mdi mdi-cart"></i>
                                                </span>
                                                <span class="title-cart">سبد خرید</span>
                                                <span class="price-cart">
                                                    25,000,000
                                                    <span>تومان</span>
                                                </span>
                                                <span class="count-cart count-bg">2</span>
                                            </a>
                                            <div class="widget-shopping-cart">
                                                <div class="widget-shopping-cart-content">
                                                    <ul class="product-list-widget">
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                <a href="#" class="mini-cart-item-close">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                                <a href="#" class="mini-cart-item-image d-block">
                                                                    <img src="~/images/menu-main/img-card.jpg">
                                                                </a>
                                                                <span class="product-name-card">لپ تاپ چووی الترابوک 14 اینچ پرو</span>
                                                                <div class="variation">
                                                                    <span class="variation-n">فروشنده : </span>
                                                                    <p class="mb-0">دیجی اسمارت </p>
                                                                </div>
                                                                <div class="quantity">
                                                                    <span class="quantity-Price-amount">
                                                                        15,000,000
                                                                        <span>تومان</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                <a href="#" class="mini-cart-item-close">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                                <a href="#" class="mini-cart-item-image d-block">
                                                                    <img src="~/images/menu-main/img-card-2.jpg">
                                                                </a>
                                                                <span class="product-name-card">هواوای میت بوک X پرو 13.9 اینچ</span>
                                                                <div class="variation">
                                                                    <span class="variation-n">فروشنده : </span>
                                                                    <p class="mb-0">دیجی اسمارت </p>
                                                                </div>
                                                                <div class="quantity">
                                                                    <span class="quantity-Price-amount">
                                                                        10,000,000
                                                                        <span>تومان</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="mini-card-total">
                                                        <strong>قیمت کل : </strong>
                                                        <span class="price-total">
                                                            25,000,000
                                                            <span>تومان</span>
                                                        </span>
                                                    </div>
                                                    <div class="mini-card-button">
                                                        <a href="cart.html" class="view-card">مشاهده سبد خرید</a>
                                                        <a href="checkout.html" class="card-checkout">تسویه حساب</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>



                <!--    responsive-megamenu-mobile----------------->
                <nav class="sidebar">
                    <div class="nav-header">
                        <!--              <img class="pic-header" src="images/header-pic.jpg" alt="">-->
                        <div class="header-cover"></div>
                        <div class="logo-wrap">
                            <a class="logo-icon" href="#"><img alt="logo-icon" src="~/images/logo.png" width="40"></a>
                        </div>
                    </div>
                    <ul class="nav-categories ul-base">
                        <li>
                            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>کالای دیجیتال</a>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="mdi mdi-chevron-down"></i>آرایشی و بهداشتی</a>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">ابزار و اداری</a></li>
                        <li><a href="#">مد و پوشاک</a></li>
                        <li>
                            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="mdi mdi-chevron-down"></i>خانه و آشپزخانه</a>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">لوازم تحریر و هنر</a></li>
                        <li><a href="#">کودک و نوزاد</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">آرشیو محصولات</a></li>
                        <li><a href="#">وبلاگ</a></li>
                        <li><a href="#">حساب من</a></li>
                    </ul>
                </nav>
                <div class="nav-btn nav-slider">
                    <span class="linee1"></span>
                    <span class="linee2"></span>
                    <span class="linee3"></span>
                </div>
                <div class="overlay"></div>
                <!--    responsive-megamenu-mobile----------------->
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- footer------------------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-volume-control-phone"></i>
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-home"></i>
                            </span>
                            <span class="title-shopping">پرداخت در محل</span>
                            <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-repeat"></i>
                            </span>
                            <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                            <span class="desc-shopping">هفت روز مهلت دارید </span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-shield"></i>
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-5 col-md-5 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    اطلاعات تماس
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تهران محله مهرآباد جنوبی، خیابان دانشگاه هوایی جنوبی، خیابان تفرش غربی، پلاک ۱۸۲، طبقه ۲، واحد ۲
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شماره تماس: ۰۹۱۲۲۰۱۳۴۴۳
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تلفن: ۰۲۱۶۶۶۳۷۲۷۳
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        آدرس ایمیل: info@liftbazar.ir
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    دسته‌بندی محصولات
                                                </a>
                                            </div>
                                            @await Component.InvokeAsync("ParentGroupsVC")
                                            
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    خدمات مشتریان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="/Account/Login">حساب کاربری من</a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="/FAQ/Index">پرسش‌های متداول</a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="/Suggestions/Insert">شکایات و پیشنهادات</a>
                                                </li>
                                                
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-4 d-block pl">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و محصولات سایت مطلع شوید...</span>
                                        <div class="input-group-newsletter">
                                            <input type="email" class="input-field form-control" placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>*@
                        <div class="footer-more-info">
                            <div class="col-lg-10 pr">
                                <div class="footer-content d-block">
                                    <div class="text pr-1">
                                        <h2 class="title">فروشگاه اینترنتی لیفت بازار</h2>
                                        <p class="desc">لیفت بازارفروشگاه اینترنتی لوازم و تجهیزات آسانسور،فروش آسانسور با بهترین قیمت وکیفیت در لیفت بازار .فروش انواع موتور،تابلو فرمان، درب،کابین،ریل و لوازم راه‌اندازی،با امکان تعویض و مرجوعی آسان،پرداخت در محل برای خرید کلیک کنید</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 pl">
                                <div class="footer-safety-partner">
                                    <div class="widget widget-product card mb-0">
                                        <div class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                    <div class="owl-item active" style="width: 300.75px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="#" class="d-block hover-img-link">
                                                                <img src="~/images/footer/license/L-1.png" class="img-fluid img-brand" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 300.75px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="#" class="d-block hover-img-link mt-0">
                                                                <img src="~/images/footer/license/L-2.png" class="img-fluid img-brand" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>استفاده از مطالب فروشگاه اینترنتی لیفت‌بازار فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به لیفت‌بازار می‌باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->

</body>

</html>