@model List<DataLayer.DTO.SlideShowDTO>


<div class="slider-main-container d-block">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            @foreach (DataLayer.DTO.SlideShowDTO item in Model)
            {
                <div class="carousel-item">
                    <a href="@item.URL">
                        <img asp-append-version="true" src="@Url.Content("/" + item.ImgAddress)" alt="@(item.Alt + "," + "آسانسور" )">
                    </a>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



<script>
    $(function () {

        $(".carousel-item:first").addClass("active")

    });
</script>

