@using Service.Repos
@inject ProductRepostitory ProductRepostitory
@using DataLayer.Entities
@{
    ViewData["Title"] = "لیست کالاها";
    var groups = ViewBag.Groups as IEnumerable<ProductGroup>;
}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



<form asp-action="Create" class="form-horizontal" method="post" style="" enctype="multipart/form-data">

    <div class="container">

        <div id="progressbarwizard" class="pull-in">
            <ul>
                @foreach (var item in groups)
                {
                    <li><a href="#Group_@item.Id" data-toggle="tab">@item.Title</a></li>
                }
            </ul>

            <div class="tab-content b-0 m-b-0">

                <div id="bar" class="progress progress-striped progress-bar-primary-alt active">
                    <div class="bar progress-bar progress-bar-primary"></div>
                </div>
                @foreach (var group in groups)
                {

                    <div class="tab-pane p-t-10 fade" id="Group_@group.Id">

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                            <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
                                <thead>
                                    <tr>
                                        <th width="3%"></th>
                                        <th width="8%">
                                            ردیف
                                        </th>
                                        <th>عنوان</th>
                                        <th>مبلغ</th>
                                        <th>قیمت با تخفیف</th>
                                        <th>عنوان دسته</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <form method="post">
                                            <th>
                                                ---
                                                @*<input  type="checkbox" data-toggle="tooltip" title="انتخاب همه" data-role="confirm">*@

                                            </th>
                                            <th>
                                                ---
                                                @*<input type="text" value="@ViewBag.SearchModel.Id" name="Id" class="form-control searchInput" />*@
                                            </th>
                                            <th> --- </th>
                                            <th>
                                                ---
                                            </th>
                                            <th> ---</th>

                                            <th>
                                                ----
                                            </th>
                                            <th>
                                                ----
                                            </th>
                                            <input type="submit" class="form-control hidden btn btn-success btn-block searchBtn" value="جستجو" />
                                        </form>
                                    </tr>
                                </thead>
                            </table>


                            <partial name="./_PackageProductByGroup" model="ProductRepostitory.GetProductForPackage(ViewBag.PackageId,group.Id)" />

                        </div>
                    </div>
                }
                <!--- اظلاعات کلی محصولات-->




            </div>

        </div>

    </div>
    <div class="col-lg-12 ">
        <button type="submit" class="btn btn-block btn-success">ثبت</button>
        <a href="/Product/ManageProduct/Index" class="btn btn-danger btn-block waves-effect waves-light">بازگشت</a>
    </div>
</form>





<script>

    $(function () {


        $('#progressbarwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;
                var $percent = ($current / $total) * 100;
                $('#progressbarwizard').find('.bar').css({ width: $percent + '%' });
            },
            'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted'
        });

        $('#btnwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted', 'nextSelector': '.button-next', 'previousSelector': '.button-previous', 'firstSelector': '.button-first', 'lastSelector': '.button-last' });

        //var $validator = $("#commentForm").validate({
        //    rules: {
        //        emailfield: {
        //            required: true,
        //            email: true,
        //            minlength: 3
        //        },
        //        namefield: {
        //            required: true,
        //            minlength: 3
        //        },
        //        urlfield: {
        //            required: true,
        //            minlength: 3,
        //            url: true
        //        }
        //    }
        //});
    })

</script>
