@model List<DataLayer.Entities.ProductPackageDetails>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "لیست محصولات پکیج";
}
<div id="ProductShow" data-id="@ViewBag.PackageId" style="margin-bottom:80px">

</div>

<div style="margin-top:80px" id="ProductPackageShow">
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <h2 style="margin-right:63px">مجموع قیمت:</h2>
    </div>
    <div class="col-md-6">
        <h2 style="margin-left:63px ; float:left">220000</h2>
    </div>
</div>

<hr />
<a href="/ProductPackage/ManageProductPackage/Index" class="btn btn-danger btn-block waves-effect waves-light">بازگشت</a>

<script>
    $(function () {
        var id = $('#ProductShow').attr("data-id");
        $.get("/ProductPackage/ManageProductPackage/ProductList/", function (result) {
            $('#ProductShow').html(result);
        })
    })


    $(function () {
        var id = $('#ProductShow').attr("data-id");
        $.get("/ProductPackage/ManageProductPackage/ProductPackageDetail/", {id:id}, function (result) {
            $('#ProductPackageShow').html(result);
        })
    })



</script>