@model List<DataLayer.Entities.ProductPackageDetails>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "لیست محصولات پکیج";
}
<div id="ProductShow" data-id="@ViewBag.PackageId" style="margin-bottom:80px">

</div>

<div style="margin-top:80px" id="ProductPackageShow">
</div>
<script>
    $(function () {
        var id = $('#ProductShow').attr("data-id");
        $.get("/ProductPackage/ManageProductPackage/ProductList/", function (result) {
            $('#ProductShow').html(result);
        })
    })


    $(function () {
        var id = $('#ProductShow').attr("data-id");
        $.get("/ProductPackage/ManageProductPackage/ProductPackageDetail/", {id:id}, function (result) {
            $('#ProductPackageShow').html(result);
        })
    })

    

</script>