
@{
    ViewData["Title"] = "ثبت گروه جدید";
    Layout = null; 
}




<form action="/ProductGroup/ManageProductGroup/Insert" class="form-horizontal" method="post" style="">

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">عنوان گروه <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required="required" name="Title" aria-describedby="Title" placeholder="عنوان گروه" />
        </div>
    </div>

    <div class="form-group">
        <label for="Text" class="control-label col-sm-2">پدر <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <select name="ParentId" required="required" class="form-control form-control-lg">
                <option>لطفا انتخاب کنید</option>
                <option value="-1">خودش پدر هست</option>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
    </div>



    <button type="submit" class="btn btn-block btn-success">ثبت</button>


</form>





