
@{
    ViewData["Title"] = "ثبت گروه جدید";
}




<form class="form-horizontal" method="post" style="">

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">عنوان گروه <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required="required" name="Title" aria-describedby="Title" placeholder="عنوان گروه" />
        </div>
    </div>

    

    <button type="submit" class="btn btn-block btn-success">ثبت</button>


</form>





