@model DataLayer.Entities.ProductGroup

@{
    ViewData["Title"] = "ویرایش دسته";
}


<form class="form-horizontal" method="post">

    <input type="hidden" value="@Model.Id"/>

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">عنوان گروه <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="text" value="@Model.Title" class="form-control" required="required" name="Title" aria-describedby="Title" placeholder="عنوان گروه" />
        </div>
    </div>



    <button type="submit" class="btn btn-block btn-primary">ثبت</button>


</form>
