<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/Admin/assets/images/favicon.ico">

    <!-- App title -->
    <title>لیفت بازار</title>

    <!-- App CSS -->
    <link href="~/Admin/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Plugins/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Admin/assets/js/modernizr.min.js"></script>

</head>
<body>

    @Html.Partial("_Message")
    @RenderBody()

    <!-- end wrapper page -->



    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/Admin/assets/js/jquery.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap-rtl.min.js"></script>
    <script src="~/Admin/assets/js/detect.js"></script>
    <script src="~/Admin/assets/js/fastclick.js"></script>
    <script src="~/Admin/assets/js/jquery.slimscroll.js"></script>
    <script src="~/Admin/assets/js/jquery.blockUI.js"></script>
    <script src="~/Admin/assets/js/waves.js"></script>
    <script src="~/Admin/assets/js/wow.min.js"></script>
    <script src="~/Admin/assets/js/jquery.nicescroll.js"></script>
    <script src="~/Admin/assets/js/jquery.scrollTo.min.js"></script>
    <!-- App js -->
    <script src="~/Admin/assets/js/jquery.core.js"></script>
    <script src="~/Admin/assets/js/jquery.app.js"></script>



   
    @RenderSection("Scripts", required: false)

</body>
</html>