@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@{
    var result = TempData["ServiceResult.Message"] as string;
    if (result != null)
    {

        @*<div class="alert alert-@((bool) TempData["ServiceResult.Succeed"] ? "success" : "danger") alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <div>
                    @if (string.IsNullOrEmpty(result))
                    {
                        <span>
                            @((bool) TempData["ServiceResult.Succeed"] ? "عملیات با موفقیت انجام شد." : "خطا!")
                        </span>
                    }
                    else
                    {
                        <span>@result</span>
                    }
                </div>

            </div>*@
        <script src="~/Plugins/sweetalert2/dist/sweetalert2.js"></script>
        <script>
            (function () {

                showBeautyMessage();

                function showBeautyMessage() {
                    var Message = @(new HtmlString(JsonConvert.SerializeObject(result)));
                    var Succeed = @(JsonConvert.SerializeObject(TempData["ServiceResult.Succeed"]));

                    var text = Message || (Succeed ? 'عملیات با موفقیت انجام شد' : "عملیات با خطا مواجه شد");
                    debugger;
                    debugger;
                    swal.fire({
                        title: (Succeed ? 'موفق' : 'خطا'),
                        text: text,
                        type: Succeed ? "success" : "error",
                        confirmButtonText: "تایید"
                    });
                 
                }
            }());

        </script>
    }
}
