
@{
    Layout = null;
}


<div class="container-main">
    <div class="d-block">
        <section class="blog-checkout d-block order-1">
            <div class="col-lg">
                <div class="checkout woocommerce-checkout">
                    <div class="content-checkout container">
                        <div class="middle-container">
                            <span>
                                @ViewBag.Result
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
