@model int
@{
    ViewBag.Title = "ویرایش رمز عبور";
}

<form asp-action="EditPassword" class="form-horizontal" method="post" style="">

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">رمز عبور جدید <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="password" required dir="ltr" name="password" class="form-control" value="" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <input type="hidden" name="UserId" value="@Model" />
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-primary ">ثبت</button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block btn-danger col-md-6" asp-action="Index">بازگشت</a>
        </div>
    </div>
</form>


