@model int
@{
    ViewBag.Title = "ارسال پیامک به کاربر";
}

<form asp-action="SendSmsToUser" class="form-horizontal" method="post" style="">
    <div class="form-group" style="text-align:center">
        <b>ارسال پیامک به : عمران جدیدی </b>
        <b style="margin-right:30px">اعتبار : 0 ریال</b>
    </div>
    <hr />
    <br />
    <br />
    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">متن پیامک <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <textarea name="Message" required class="form-control" cols="10"></textarea>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <input type="hidden" name="UserId" value="@Model" />
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-primary ">ثبت</button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block btn-danger col-md-6" asp-action="Index">بازگشت</a>
        </div>
    </div>
</form>


