body {
    background-color: #EEE;
}



p, h1, a {
    font-family: 'Lalezar';
    font-size: 24px;
}

/*p {
    margin: 0 64px;
}*/




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .message-box {
        margin-top: -465px;
        margin-left: 261px
    }

        .message-box h1 {
            font-size: 165px;
            line-height: 46px;
            margin-bottom: 55px;
            color: #EEE;
        }

        .message-box p {
            font-size: 20px;
            font: bold;
            line-height: 46px;
            margin-bottom: 40px;
            color: #9c9999
        }

        .message-box a {
            margin-top: 25px
        }
 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .message-box {
        margin-top: -465px;
        margin-left: 261px
    }

        .message-box h1 {
            font-size: 165px;
            line-height: 46px;
            margin-bottom: 55px;
            color: #EEE;
        }

        .message-box p {
            font-size: 20px;
            font: bold;
            line-height: 46px;
            margin-bottom: 40px;
            color: #9c9999
        }

        .message-box a {
            margin-top: 25px
        }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .message-box {
        margin-top: -465px;
        margin-left: 261px
    }

        .message-box h1 {
            font-size: 165px;
            line-height: 46px;
            margin-bottom: 55px;
            color: #EEE;
        }

        .message-box p {
            font-size: 20px;
            font: bold;
            line-height: 46px;
            margin-bottom: 40px;
            color: #9c9999
        }

        .message-box a {
            margin-top: 25px
        }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .message-box {
        margin-top: -465px;
        margin-left: 261px
    }

        .message-box h1 {
            font-size: 165px;
            line-height: 46px;
            margin-bottom: 55px;
            color: #EEE;
        }

        .message-box p {
            font-size: 20px;
            font: bold;
            line-height: 46px;
            margin-bottom: 40px;
            color: #9c9999
        }

        .message-box a {
            margin-top: 25px
        }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .message-box {
        margin-top: -470px;
        margin-left: 220px
    }

        .message-box h1 {
            font-size: 130px;
            line-height: 46px;
            margin-bottom: 55px;    
            color: #EEE;
        }

        .message-box p {
            width:100%;
            font-size: 18px;
            font: bold;
            line-height: 46px;
            color: #9c9999;
            margin-top:-16px;
        }

        .message-box a {
            margin-top: 28px
        }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .message-box {
        margin-top: -465px;
        margin-left: 261px
    }

        .message-box h1 {
            font-size: 165px;
            line-height: 46px;
            margin-bottom: 55px;
            color: #EEE;
        }

        .message-box p {
            font-size: 20px;
            font: bold;
            line-height: 46px;
            margin-bottom: 40px;
            color: #9c9999
        }

        .message-box a {
            margin-top: 25px
        }
}

