@using DataLayer.Entities
@model List<ProductPackageDetails>
@{
    var categories = ViewBag.Group as List<ProductGroup>;
}

<div class="col-lg-12">
    <div class="pdetails-images pdetails-sliderimages pdetails-imagezoom slider-navigation">
        @foreach (var item in Model)
        {
            <div class="pdetails-singleimage pdetails-slidersingleimage" data-src="@ViewBag.Url/@item?.Product?.IndexPic">
                <img asp-append-version="true" src="@(item?.Product?.IndexPic!=null? ViewBag.Url+"/"+item?.Product?.IndexPic:"/no-image.jpg")" alt="product image">
            </div>
        }
 
    </div>
</div>
<div class="col-lg-8">
    <div class="pdetails-content pt-30 text-center">

        <div class="rattingbox">
        </div>
        <h3></h3>
        <div class="pdetails-pricebox">
            <del class="oldprice">30,000 تومان</del>
            <span class="price">30,000 تومان</span>
            <span class="badge">تخیف 5%</span>
        </div>
      