@using DataLayer.DTO.Products
@{
    ViewData["Title"] = "Home Page";
}





@* Start SlideShow *@
@await Component.InvokeAsync("SlideShow")
@* End SlideShow *@


@using Service.Repos
@using DataLayer.Entities

@inject SiteSettingRepository _siteSettingRepository
@{

    SiteSetting siteSetting = await _siteSettingRepository.GetInfo();

}




<main class="page-content">

    <!-- Features Area -->
    <div class="ho-section features-area bg-grey pt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <!-- Single Feature -->
                <div class="col-lg-2 col-md-6 col-12 text-center">
                    <div class="featurebox">
                        <i class="flaticon-shipped"></i>
                        <h5>حمل و نقل سریع</h5>
                        <p>ارسال سریع کلیه سفارشات به تمام کشور</p>
                    </div>
                </div>
                <!--// Single Feature -->
                <!-- Single Feature -->
                <div class="col-lg-2 col-md-6 col-12 text-center">
                    <div class="featurebox">
                        <i class="flaticon-support-1"></i>
                        <h5>پشتیبانی 24/7</h5>
                        <p>24 ساعته و 7 روز شبانه روز آماده‌ی پاسخگویی هستیم</p>
                    </div>
                </div>
                <!--// Single Feature -->
                <!-- Single Feature -->
                <div class="col-lg-2 col-md-6 col-12 text-center">
                    <div class="featurebox">
                        <i class="flaticon-money-back"></i>
                        <h5>ضمانت بازگشت 7 روزه</h5>
                        <p>تضمین بازگشت کالا و تحویل پول تا 7 روز</p>
                    </div>
                </div>
                <!--// Single Feature -->
                <!-- Single Feature -->
                <div class="col-lg-2 col-md-6 col-12 text-center">
                    <div class="featurebox">
                        <i class="flaticon-credit-card"></i>
                        <h5>پرداخت امن</h5>
                        <p>درگاه پرداخت بانک</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-12 text-center">
                    <div class="featurebox">
                        <i class="flaticon-certification"></i>
                        <h5>ضمانت اصل</h5>
                        <p>ضمانت اصل بودن کالا</p>
                    </div>
                </div>
                <!--// Single Feature -->
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <!--// Banners Area -->
    <!-- Deal Of The Day Area -->

    <div class="ho-section latest-products-area mtb-30" id="LastProduct">
        <div class="container">
            <div class="section-title">
                <h3>آخرین محصولات</h3>
            </div>
            @await Component.InvokeAsync("LastProductIndexVC")
        </div>
    </div>

    <div class="ho-section deal-of-the-day-area bg-white ptb-30">
        <div class="container">
            <div class="section-title">
                <h3>فروش ویژه</h3>
            </div>

            @await Component.InvokeAsync("SpecialSellIndexVC")
        </div>
    </div>

    <div class="ho-section deal-of-the-day-area bg-white ptb-30">
        <div class="container">
            <div class="section-title">
                <h3>پکیج </h3>
            </div>

            @await Component.InvokeAsync("LastPackageProductVC")
        </div>
    </div>

    @*<div class="trending-products-area ptb-30">
            @await Component.InvokeAsync("ProductCategoryVC")
        </div>*@


    <!--// Trending Products Area -->
    <!-- Brand Logo Area -->
    <div class="ho-section brand-logos-area">
        <div class="container">
            <div class="brand-logo-slider cr-border slider-navigation-3 slider-navigation-3-side2">

                @await Component.InvokeAsync("LogoManufactoryVC")

            </div>
        </div>
    </div>
    <!--// Brand Logo Area -->
    <!-- Latest Blog Area -->
    <div class="ho-section latest-blog-area bg-white ptb-40">
        <div class="container">
            <div class="section-title">
                <h3>آخرین مقالات</h3>
            </div>
            <div class="product-slider blogitem-slider slider-navigation-2">

                @await Component.InvokeAsync("LastNewsVC")

            </div>
        </div>
    </div>
    <!--// Latest Blog Area -->
    <!-- Newsletter Area -->
    <div class="ho-section newsletter-area bg-grey ptb-50">
        <div class="container">
            <div class="newsletter text-center">
                @*<div class="newsletter-title">
                        <h2>مشترک شدن در <span>خبر نامه</span></h2>

                    </div>
                    <div class="newsletter-content">
                        <form id="mc-form" class="newsletter-form">
                            <input id="mc-email" type="email" autocomplete="off" placeholder="آدرس ایمیل">
                            <button id="mc-submit" type="submit">ثبت</button>
                        </form>
                        <!-- mailchimp-alerts start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>*@
                <div class="newsletter-socialicons socialicons socialicons-radial">
                    <ul>

                        <li><a target="_blank" href="@siteSetting.TwitterURL"><i class="ion ion-logo-twitter"></i></a></li>


                        <li><a target="_blank" href="@siteSetting.InstaURL"><i class="ion ion-logo-instagram"></i></a></li>

                        <li><a target="_blank" href="@siteSetting.WhatsAppURL"><i class="fa fa-whatsapp"></i></a></li>

                        <li><a target="_blank" href="@siteSetting.TelegramURL"><i class="fa fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// Newsletter Area -->

</main>


@*<script>
        $(function(){
            $.get("/Product/ShowLastProduct",null,function(res){
                $('#LastProduct').html(res);
            })
        })

    </script>*@

<script src="~/js/ProductDiscount.js"></script>

