@{
    ViewData["Title"] = "درباره ما";
}



<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row ">
            <div class="main-row bg-white mt-2 mb-2 "  style="padding-left:30px;padding-right:30px">
                <div style="text-align:center">
                    <b> به نام خدا </b>
                </div>
                    <br />
                    <br />
                    <div style="text-align:justify">
                        <p>
                            فروشگاه اینترنتی آسانسور لیفت بازار
                            با توجه به پیشرفت تکنولوژی و همه گیری استفاده از اینترنت و تلفن همراه هوشمند و همچنین افزایش جمعیت و حجم ترافیک شهرها و شرایط اقتصادی نابسامان حاکم در چند سال اخیر، مجموعه لیفت بازار برآن شد تا با راه اندازی فروشگاه اینترنتی بزرگ لیفت بازار بار بزرگی را از دوش فعالان صنعت ساختمان و فعالان صنعت آسانسور برداشته و گام بزرگی در جهت حفظ آسایش و آسودگی خاطر این عزیزان بردارد.
                            فروشگاه اینترنتی آسانسور لیفت بازار با تکیه بر دانش و تجربه بیش از دو دهه فعالیت اجرایی، فنی و مهندسی مدیران خود در این صنعت، در تلاش جهت بهبود هر چه بیشتر فرایند خرید و تهیه اقلام با کیفیت، متناسب با ساختمان و همچنین ارائه قیمت مناسب از طریق حذف واسطه ها است، تا اطمینان خاطر هرچه بیشتر را برای مشتریان خود فراهم آورد .
                        </p>
                        <br />
                        <p>
                            <b> از مزایای خرید از فروشگاه اینترنتی آسانسور لیفت بازار می توان به موارد زیر اشاره کرد:</b>
                            <br />
                            صرفه جویی در زمان: درسایت لیفت بازار کاربر می تواند با چند کلیک خریدهای متفاوتی انجام دهد و کالای مورد نظر خود را در کوتاه ترین زمان ممکن دریافت کند. در مقابل، در خرید سنتی فرد می بایست ساعت ها وقت صرف خرید اقلام مدنظر نماید.
                            صرفه جویی در هزینه: در صورت خرید اینترنتی، هزینه رفت و آمد عملا حذف می شود. بعلاوه، به دلیل جو رقابتی حاکم در دنیای بازاریابی دیجیتال، معمولا اجناسی که به صورت اینترنتی عرضه می شوند دارای قیمت کمتری می باشند و در برخی مواقع تخفیفات مناسبتی به آن ها تعلق می گیرد.
                            بهره مندی از مزیت مقایسه اجناس: در فروشگاه اینترنتی آسانسور لیفت بازار می توانید محصولات مشابه را با یکدیگر مقایسه کنید و با در نظر گرفتن تمام جوانب بهترین انتخاب را در خصوص خرید محصول مورد نیاز انجام دهید، در مقابل در صورت تمایل به مقایسه اجناس در خرید سنتی لازم است به چند فروشگاه و یا مغازه مراجعه نمائید.
                            تنوع محصولات: محبوبیت خرید اینترنتی وامدار تنوع محصولات ارائه شده در این نوع بازار مدرن خرید و فروش است. در فروشگاه اینترنتی آسانسور لیفت بازار از هر محصول چند نوع با مشخصات ، کیفیت ، قیمت و برند های متفاوت وجود دارد و کاربر می تواند با قدرت انتخاب بیشتری خرید نماید.
                            دسترسی سریع به محصولات: حتما حس سردرگمی ناشی از به دنبال کالایی خاص گشتن و نیافتن و یا دیر یافتن آن را تجربه کرده اید. در فروشگاه اینترنتی آسانسور لیفت بازار می توانید در بین لوازم دسته بندی شده، به سرعت کالای مورد نظر خود را جستجو و تهیه کنید.
                            دسترسی 24 ساعته: در سایت لیفت بازار شما در تمام ساعات شبانه روز امکان جستجوی کالای مورد نظر، مشاهده قیمت، تحلیل مشخصات فنی کالا و خرید آن را دارید.
                            دریافت پیش فاکتور با قیمت به روز در کمترین زمان ممکن : در سایت لیفت بازار امکان دریافت پیش فاکتور در کمترین زمان ممکن تنها با چند کلیک فراهم آمده است. پیش فاکتورهای دریافتی از سایت لیفت بازار در صورت تغییرات قیمت در بازه های زمانی تعیین شده مرتبا به روزرسانی شده و به این ترتیب کاربران حتی پس از گذشت مدت زمان طولانی می توانند پیش فاکتور دریافتی را با قیمت به روز مشاهده نموده و در صورت تمایل اقدام به خرید نمایند.
                            امنیت بالای سایت و نماد اعتماد الکترونیکی: سایت لیفت بازار با رعایت تمامی پروتکل های امنیتی خرید اینترنتی ، از جمله به کارگیری پروتکل امن SSL و استفاده از درگاه پرداخت امن بانک ملی ایران ( سداد ) و  همچنین دریافت نماد اعتماد الکترونیکی از مرکز توسعه تجارت الکترونیکی وزارت صنعت، معدن و تجارت، امکان محافظت تمام و کمال از اطلاعات کاربران را فراهم آورده است.
                            گزارش دهی و مونیتورینگ وضعیت سفارش: کاربران سایت لیفت بازار پس از ثبت سفارش از طریق ارسال پیامک در جریان  وضعیت سفارش خود به صورت مرحله به مرحله از لحظه سفارش تا لحظه تحویل قرار خواهند گرفت.
                            ومزایایی از این دست که جستجو، دسترسی و تهیه کالاهای مورد نظر را برای کاربران تسهیل نموده و تجربه خریدی متفاوت و لذت بخش را برای آنان رقم می زند.
                        </p>

                        <br />
                        <p>
                            <b> پویش آینده ساز (درختکاری):</b>
                            <br />
                            با توجه به افزایش جمعیت و گسترش شهرسازی و افزایش آلودگی هوا و کاهش پوشش گیاهی شهرها ، فروشگاه اینترنتی لیفت بازار در راستای انجام وظایف اجتماعی خود اقدام به برگزاری پویش آینده ساز برای اولین بار در سطح جهانی نموده است. در این پویش، هر مشتری با هر خرید از سایت لیفت بازار سهمی در آینده فرزندان جامعه خواهد داشت. به عبارت دقیق تر، به ازای هر خرید به ارزش 25،000،000  تومان یک نهال به نام خریدار به همراه شناسنامه که تقدیم خریدار خواهد شد، کاشته می شود.
                            تا روزی که این مجموعه پابرجاست و تا روزی که آینده سبز برای کودکانمان رقم بخورد به کمک شما سروران گرامی دست از تلاش بر نخواهیم داشت.
                        </p>
                    </div>

                </div>
            </div>
    </div>
</div>