@{
    ViewData["Title"] = "تماس با ما";
}

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row ">
            <div class="main-row bg-white mt-2 mb-2 ">
                <div class="container">
                    <div class="col-12 text-center pb-3 h-25">
                        <img src="~/images/contact_us.svg" height="300" />
                    </div>

                </div>

                <div class="col-lg-7 col-md-7 col-12 pr ">
                    <form asp-controller="Suggestions" asp-action="Insert">

                        <div class="form-ui pr-2 ">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="form-row-title mb-2">نام</div>
                                    <div class="form-row">
                                        <input class="input-ui pr-2" name="Name" type="text" placeholder="نام">
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <div class="form-row-title mb-2">نام خانوادگی</div>
                                    <div class="form-row">
                                        <input class="input-ui pr-2" name="Family" type="text" placeholder="نام خانوادگی">
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <div class="form-row-title mb-2">ایمیل</div>
                                    <div class="form-row">
                                        <input class="input-ui pr-2" name="Email" type="text" placeholder="ایمیل">
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <div class="form-row-title mb-2">تلفن</div>
                                    <div class="form-row">
                                        <input class="input-ui pr-2" name="Phone" type="text" placeholder="تلفن">
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <div class="form-row-title mb-2 ">پیام شما</div>
                                    <div class="form-row">
                                        <textarea class="input-ui pr-2" style="height:100px" id="new-review-textbox" name="Description" cols="30" rows="5"></textarea>

                                    </div>
                                </div>

                                <div class="single-input">
                                    <button class="btn comment-submit-button">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-5 col-md-5 col-12 pl pt-sm-2 pt-xs-2">
                    <h5>تماس با ما</h5>
                    <div class="form-ui pr-2">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="single-content">
                                    <span class="single-content-icon">
                                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>

                                    </span>
                                    <p>تهران محله مهرآباد جنوبی، خیابان دانشگاه هوایی جنوبی، خیابان تفرش غربی، پلاک ۱۸۲، طبقه ۲، واحد ۲ </p>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="single-content">
                                    <span class="single-content-icon">
                                        <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>

                                    </span>
                                    <p><a href="tel:۰۹۱۲۲۰۱۳۴۴۳">۰۹۱۲۲۰۱۳۴۴۳</a></p>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="single-content">
                                    <span class="single-content-icon">
                                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                    </span>
                                    <p><a href="tel:۰۲۱۶۶۶۳۷۲۷۳">۰۲۱۶۶۶۳۷۲۷۳</a></p>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="single-content">
                                    <span class="single-content-icon">
                                        <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                                    </span>
                                    <p>info@liftbazar.ir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

