@{
    ViewData["Title"] = "حریم شخصی و قوانین";
}

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row ">
            <div class="main-row bg-white mt-2 mb-2 ">


                


            </div>
        </div>
    </div>
</div>
