@{
    ViewData["Title"] = "حریم شخصی و قوانین";
}

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row ">
            <div class="main-row bg-white mt-2 mb-2 " style="padding-left:30px;padding-right:30px">
                <div style="text-align:center">
                    <b> قوانین و مقررات استفاده از خدمات و کالاهای فروشگاه اینترنتی لیفت بازار</b>
                </div>
                <br />
                <br />
                <br />
                <div style="text-align:justify">
                    <p>

                        کاربر و مشتری گرامی ، از اینکه فروشگاه اینترنتی لیفت بازار را برای تامین کالا و خدمات مورد نیازتان انتخاب کرده اید ، بسیار خرسندیم . مجموعه مدیریت و کارکنان لیفت بازار تمام تلاش خود را به کار خواهند بست تا با ارائه خدماتی با کیفیت ، تجربه و احساس خوبی از یک خرید اینترنتی را درشما به وجود آورده و لذتی متفاوت و مطلوب از یک خرید اینترنتی را برای شما رقم بزنند.
                        در راستای ایجاد شفافیت در خصوص تعهدات متقابل فروشگاه اینترنتی لیفت بازار و کاربران گرامی، مجموعه ای از قوانین و مقررات تدوین شده است که در ادامه به آگاهی شما می رسد. خواهشمند است این قوانین را مطالعه نمایید و سپس با آسودگی خیال نسبت به استفاده از خدمات فروشگاه اینترنتی لیفت بازار اقدام کنید.
                    </p>

                    <p>
                        <b> قوانین عمومی: </b>
                        <br />
                        تمامی اصول اساسی حاکم بر فعالیت لیفت بازار منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کنندگان است و هر دو طرف ( لیفت بازار و کاربران یا همان مشتریان ) نسبت به انجام تکالیف خود بر اساس قوانین، حسب مورد دارای مجوزهای لازم از مراجع مربوطه می باشند و به فعالیتهای جاری کشور متعهد هستند.
                        تمامی کالاهای این فروشگاه اینترنتی تابع قوانین و مقررات جمهوری اسلامی ایران است. همچنین در صورتی که درآینده قوانین منظور شده برای کالاها و سرویس های لیفت بازار شامل اصلاحاتی شوند، در همین صفحه منتشر و به روز رسانی خواهد شد و شما توافق می کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
                    </p>

                    <p>
                        <b> تعریف مشتری یا کاربر:</b>
                        <br />
                        مشتری یا کاربر به شخصی گفته می شود که با اطلاعات کاربری خود که در فرم ثبت نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات لیفت بازار اقدام نماید .
                        محصولات ارائه شده در وب سایت، یا توسط لیفت بازار از شرکتهای معتبر و واردکنندگان رسمی و قانونی خریداری و عرضه می شوند و یا برخی فروشندگان با لیفت بازار همکاری کرده و محصولات خود را به واسطه این فروشگاه اینترنتی ، به صورت آنلاین به فروش می رسانند. منظور از کالای فروشندگان، گروه دوم است و فروشنده شخصی حقیقی یا حقوقی است که محصول خود را در وب سایت لیفت بازارعرضه کرده و به فروش می رساند، همچنین اعتبار فروشنده ها توسط لیفت بازار بررسی و مدارک مورد نیاز از ایشان اخذ می شود. لازم به ذکر است مسئولیتهای مربوط به کیفیت، قیمت، محتوا، شرایط وهمچنین خدمات پس از فروش محصول بر عهده فروشندگان است. سفارش هایی که دارای حداقل یک کالا از فروشندگان باشند و تا ساعت 17 در هر روز کاری نهایی شوند، (طبق زمان تحویل اعلام شده در سایت) در تهران و شهرستانها ، ارسال خواهند شد. ۲۴ ساعت فاصله زمانی تحویل برای کالاهای فروشندگان، به معنای این است که در صورت خرید کالای فروشندگان، شروع پردازش سفارش حداکثر ۲۴ ساعت پس از زمان سفارش گذاری در لیفت بازار است. منظور از ۲۴ ساعت، زمان آماده سازی و ارسال کالا به انبار لیفت بازار توسط فروشنده است که بسته به نوع کالا، این زمان می تواند متغیر باشد. در شرایط خاص مثل فروش ویژه ، احتمال لغو شدن سفارش مربوط به محصولات فروشندگان به دلایلی مانند اتمام موجودی کالا وجود دارد و لیفت بازار مجاز است بدون اطلاع قبلی نسبت به توقف سفارش گیری جدید، اقدام و فروش را متوقف کند. در صورتیکه لیفت بازار تخفیف به شرط خرید تا سقف خاصی را اعلام کرد، میزان خرید از کالاهای فروشندگان محاسبه نمی شود و این کالاها مشمول استفاده از این تخفیف ها نخواهند شد.
                    </p>

                    <p>
                        <b>  ارتباطات الکترونیکی:</b>
                        <br />
                        هنگامی که شما از سرویس ها و خدمات لیفت بازار استفاده می کنید، سفارش اینترنتی خود را ثبت یا خرید می کنید و یا به لیفت بازار ایمیل ارسال می کنید، این ارتباطات به صورت الکترونیکی انجام می شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه ها باشد ، شما موافقت می کنید که لیفت بازار به صورت الکترونیکی (از طریق پست و سایر سرویس های الکترونیکی) به درخواست شما پاسخ دهد. همچنین آدرس ایمیل و تلفن هایی که مشتری در پروفایل خود ثبت می کند، تنها آدرس ایمیل و تلفنهای رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخهای لیفت بازار از طریق آن ها صورت می گیرد.
                    </p>

                    <p>
                        <b> سیاست های رعایت حریم خصوصی:</b>
                        <br />
                        لیفت بازار به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می کنند احترام گذاشته و از آن محافظت می کند. لیفت بازار متعهد می شود تا در حد توان از حریم شخصی شما دفاع کند و در این راستا ، تکنولوژی مورد نیاز برای هر چه مطمئن تر و امن تر شدن استفاده شما از سایت را توسعه دهد. در واقع با استفاده از سایت لیفت بازار شما رضایت خود را از این سیاست نشان می دهید. همه مطالب در دسترس از طریق هر یک از خدمات لیفت بازار مانند متن، گرافیک، آرم، آیکون لیفت بازار، تصاویر، ویدئوها، موارد قابل دانلود و کپی، داده ها و کلیه محتوای تولید شده توسط لیفت بازار جزئی از اموال لیفت بازار محسوب می شود و حق استفاده و نشر تمامی مطالب موجود در دسترس در انحصار لیفت بازار می باشد. هرگونه استفاده بدون کسب مجوز کتبی حق پیگرد قانونی را برای لیفت بازار محفوظ می دارد. علاوه بر این ، اسکریپتها ، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط لیفت بازار و علائم تجاری ثبت شده نیز در انحصار لیفت بازار است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد . کاربران مجاز به بهره برداری و استفاده از لیست محصولات، مشخصات فنی، قیمت و هرگونه استفاده از مشتقات وب سایت لیفت بازار و یا هر یک از خدمات و یا مطالب ، دانلود یا کپی کردن اطلاعات با مقاصد تجاری از طریق داده کاوی، ربات، یا روش های مشابه مانند جمع آوری داده ها و ابزارهای استخراج نیستند و کلیه این حقوق به صراحت برای لیفت بازار محفوظ است. کاربران مسئول حفظ محرمانه بودن حساب و رمز عبور خود هستند و مسئولیت تمامی فعالیت هایی که تحت حساب کاربری و یا رمز ورود انجام می پذیرد به عهده کاربر می باشد. کاربران جهت برقراری ارتباط، تنها می توانند از آدرس های ذکر شده در بخش تماس با ما استفاده کنند.

                    </p>

                    <p>
                        <b>  ثبت، پردازش و ارسال سفارش:</b>
                        <br />
                        روز کاری به معنی روز شنبه تا پنج شنبه هرهفته، به استثنای تعطیلات رسمی در ایران است و کلیه سفارش های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می شوند . لیفت بازار به مشتریان خود در  ۷روز هفته و ۲۴ ساعت روز امکان سفارش گذاری می دهد. کلیه سفارش های ثبت شده در سایت لیفت بازار به وسیله ارسال کد سفارش از طریق پیش فاکتور به وسیله پیامک، در صف پردازش قرار می گیرند. لیفت بازار همواره در ارسال و تحویل کلیه سفارش های ثبت شده نهایت دقت و تلاش خود را انجام می دهد. با این وجوئ، در صورتی که موجودی محصولی در لیفت بازار به اتمام برسد، حتی پس از اقدام مشتری به سفارش گذاری حق کنسل کردن آن سفارش و یا استرداد وجه سفارش برای لیفت بازارمحفوظ است. در این حالت مشتری می تواند به جای کالای ناموجود، محصول دیگری را جایگزین کند و یا منتظر موجود شدن دوباره کالا در سایت بماند. در صورت بروز مشکل در پردازش نهایی سبد خرید مانند اتمام موجودی کالا یا انصراف مشتری، مبلغ پرداختی طی۲۴ الی ۴۸ ساعت کاری به حساب مشتری مسترد می گردد. لیفت بازار مجاز است بدون اطلاع قبلی نسبت به توقف سفارش گیری جدید اقدام و فروش خود را متوقف کند و کلیه سفارش های ثبت شده پیش ازتوقف سفارش گیری پردازش و ارسال می شود. حق قطع فروش کلیه و یا بخشی از محصولات به هر دلیلی مانند اتمام موجودی کالا بدون اطلاع قبلی برای لیفت بازارمحفوظ است. در صورت بروز هرگونه خطا نسبت به درج قیمت و ارزش ریالی کالاهای موجود و یا آپدیت نبودن قیمت کالای های درج شده در هر تاریخ و ساعت از سفارش در سایت لیفت بازار، حق بلا اثر نمودن سفارش و خرید انجام شده توسط مشتری برای لیفت بازار محفوظ است و لیفت بازار دراسرع وقت وجوه دریافتی را به حساب اعلام شده توسط مشتری واریز و عودت می نماید و مشتری با ورود به سایت لیفت بازار می پذیرد که از این امر آگاهی داشته و در این خصوص ادعایی نخواهد داشت. کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل نمایند. بدیهی است درصورت ورود اطلاعات ناقص و یا نادرست، سفارش کاربرقابل پیگیری وتحویل نخواهد بود. بنابراین درج آدرس، ایمیل و شماره تماس های همراه و ثابت توسط مشتری به منزله مورد تایید بودن صحت آن ها است و در صورتی که این موارد به صورت صحیح یا کامل درج نشده باشند ، لیفت بازار جهت اطمینان از صحت و قطعیت ثبت سفارش می تواند از مشتری اطلاعات تکمیلی و بیشتری درخواست کند. همچنین ، مشتریان می توانند نام ، نشانی و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و اگر مبلغ سفارش از پیش پرداخت شده باشد ، تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی به همراه داشته باشد. با توجه به ثبت سیستمی سفارش، به هیچ عنوان امکان صدور فاکتور مجدد یا تغییر مشخصات آن از جمله تغییر فاکتور حقیقی به حقوقی وجود ندارد بنابراین لازم است مشتریان هنگام ثبت سفارش، نسبت به این مسئله دقت لازم را داشته باشند. درحال حاضر امکان خرید سازمانی، صدور و دریافت فاکتور رسمی برای خریدها مقدور نیست. درحال حاضر سرویس پرداخت در محل فقط برای شهر تهران در لیفت بازار فعال می باشد و امکان ارسال کالا و پرداخت در محل برای سایر شهرها و استان ها وجود ندارد. بعلاوه، در حال حاضر در سفارش های ثبت شده برای شهرهای خارج از تهران تنها امکان ارسال از طریق باربری و پست (با توجه به حجم و وزن سفارش) مقدور می باشد، که درصورت ارسال از طریق باربری، دریافت باراز باربری شهر مقصد بر عهده مشتری بوده و هزینه ارسال به باربری و کرایه ی باربری به صورت پس کرایه  توسط باربری از مشتری دریافت خواهد شد. در سفارش های ارسالی از طریق پست، سفارشات در محل نشانی اعلامی از سوی مشتری تحویل می گردد و هزینه ی پستی توسط شرکت پست دریافت خواهد شد.
                    </p>

                    <p>
                        <b> خسارت در هنگام حمل و نقل:</b>
                        <br />
                        لیفت بازار همواره نهایت تلاش خود را به کار می بندد تا کلیه سفارش ها در نهایت صحت و بدون آسیب به دست مشتریان این فروشگاه در سراسر کشور برسد. با توجه به بسته بندی ایمن و استاندارد همه مرسولات، تحویل به هر یک از شرکت های حمل و نقل معتبر به انتخاب کاربر و اعلام بارنامه مرسوله به این معنی است که بروزهر گونه حادثه د هنگام حمل و تحویل به عهده شرکت حمل و نقل است و خسارت احتمالی را جبران می کند.
                    </p>

                    <p>
                        <b> ارتباطات و سایر مطالب:</b>
                        <br />
                        سایت لیفت بازار ممکن است دارای لینک هایی به سایت های دیگر باشد. این سایتها تحت کنترل لیفت بازار نیستند و سایت لیفت بازار هیچ مسئولیتی در قبال محتویات این سایت ها و لینک های دیگری که ممکن است در این سایت ها باشد ندارد. سایت لیفت بازاراین لینک ها را برای سهولت شما فراهم کرده است و وجود هر یک از این لینک ها به معنی تائید یا هر نوع ارتباط ما با اداره کنندگان آنها نیست. سایت هایى که درآگهی ها یا صفحه های سایت لیفت بازار لینک می شوند را افرادی خارج از لیفت بازار اداره می کنند، بنابراین سایت لیفت بازار نمی تواند در مورد آنها ضمانتى داشته باشد. شما توافق می کنید مسئولیت هرگونه خسارت و آسیب احتمالی وارده از طریق ویروس یا فایلهای مخرب دیگر که می تواند ناشی از دریافت و استفاده از داده ها و فایل های متعلق به سایت های لینک شده در سایت لیفت بازار باشد را خود برعهده خواهید داشت .
                        کاربرانی که قصد ارسال نظر و پرسش و پاسخ در سایت را دارند ، حتما قوانین زیر را مد نظر داشته باشند:  بدیهی است که اگر این قوانین در نظرات کاربری رعایت نشود ، نظر وی تایید نخواهد شد و در نتیجه در سایت به نمایش در نخواهد آمد. با این حال، لیفت بازار هیچگونه مسئولیتی در قبال صحت یا عدم صحت نظرات منتشر شده در این قسمت را ندارد. نمایش نظرات کاربران در سایت به هیچ وجه به معنی تایید فنی لیفت بازار درباره محتویات نظر نیست. لذا از کاربران محترم تقاضا می شود، نظرات را اصل و پایه انتخاب و تصمیم گیری خود قرار ندهند.
                    </p>

                    <p>
                        <b>  سیاست قیمت گذاری:</b>
                        <br />
                        سیاست قیمت گذاری در لیفت بازار مبتنی بر اصول مشتری مداری و احترام به حقوق مصرف کننده است. با نهایت احترام به کاربران و با توجه به طیف گسترده سبد محصولات، لیفت بازار نمی تواند قیمت و موجودی نهایی کالاها را قبل از سفارش گذاری به صورت قطعی اعلام نماید. در مواردی بسیار نادر و در صورت وجود نوسانات بازار و یا اشتباه در قیمت گذاری، اگر سفارشی قابل تحویل نباشد، لیفت بازار موظف است در اسرع وقت این موضوع را به فرد سفارش دهنده اطلاع دهد و سفارش را لغو نماید. لازم به ذکر است در صورتی که کالایی پس از ثبت سفارش و پیش از پرداخت، شامل کاهش یا افزایش قیمت شود، سفارش به روزرسانی و قیمت جدید اعمال می شود.
                    </p>

                    <p>
                        <b> طرح پیشنهادات ویژه (آفرها):</b>
                        <br />
                        طرح پیشنهادات ویژه (آفرها) به منظور ایجاد تجربه یک خرید خوب برای کاربران در نظر گرفته شده است و روزانه در این بخش یکی از محصولات با تخفیف هایی بسیار ویژه تر نسبت به دیگر محصولات درج می شود که این کالاها تنها برای ساعت هایی امکان سفارش گذاری دارند. در مواردی که به دلیل استقبال کاربران موجودی کالا زودتراز موعد مقرر به اتمام برسد، وضعیت کالا به ناموجود تغییر می کند، از این قسمت برداشته می شود و امکان سفارش گذاری وجود نخواهد داشت. در صورتی که کالایی در روز قبل از فروش ویژه به سبد خرید اضافه شود و در هنگام پردازش، کالا در طرح پیشنهاده ویژه باشد قیمت پیشنهاد ویژه اعمال می شود.
                    </p>

                    <p>
                        از آن جایی که لیفت بازار خود را ملزم به رعایت حریم شخصی کاربران می داند لطفا در صورت مشاهده هرگونه تخلف ، مراتب را از طریق کانال های ارتباطی ذکر شده با ما در میان بگذارید.
                        لازم به ذکر است کلیه محتویات سایت لیفت بازار شامل قانون حق تکثیر شده و به سایت لیفت بازار تعلق دارد.

                    </p>
                    <p>
                        در پایان از صبر، شکیبایی و دقت شما سروران در مطالعه قوانین و مقررات استفاده از خدمات و کالاهای فروشگاه اینترنتی لیفت بازار کمال تشکر و قدردانی را داریم.
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
