<style>
    table{
        width:100%;
        background-color:#FFFFFF;
        font-size:12px;
        
    }

    th {
        text-align: center;
        padding: 10px;
        border: 1px solid #000000;
    }

    td {
        text-align: center;
        padding:10px;
        border:1px solid #000000;
    }

    .rotate-270{
        rotation:270deg;
    }


</style>

<table class="">
    <thead>
        <tr>
            <th width="10px" class="rotate-270">بخش</th>
            <th width="30px" class="">ردیف</th>
            <th colspan="2">عنوان فعاليت پژوهشي-فناوري</th>
            <th>
                امتیاز
            </th>
            <th>
                امتیاز
            </th>
            <th>
                امتیاز
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="39">الف</td>
            <td rowspan="3">1-1</td>
            <td rowspan="3">تدوين و به تصويب رساندن طرح يا پروژه پژوهشي</td>
            <td>در سطح پژوهشگاه (امانی)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>در سطح صنعت</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>در سطح ملي</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>2-1</td>
            <td colspan="2">تدوين و تصويب استاندارد/اسناد ملي و راهبردي در حوزه فناوري</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>

            <td rowspan="3">3-1</td>
            <td rowspan="3">انجام و یا همكاری در انجام پروژه/ طرح/استاندارد و ... منجر به تهیه گزارش مرحله اي/نهايي</td>
            <td>در سطح پژوهشگاه (امانی)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>در سطح صنعت</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>در سطح ملي/ طرح¬ كلان ملي</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>4-1</td>
            <td colspan="2">طراحی و راه اندازي آزمايشگاه¬های تخصصی (حسب اهمیت، میزان بهره¬برداری و ...)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>5-1</td>
            <td colspan="2">طراحی و تأسیس مراکز تحقیقاتی، مراکز رشد و شرکت¬های دانش بنیان</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>6-1</td>
            <td colspan="2">داوري علمی- فنی طرح يا پروژه پژوهشي، طرح استاد، پروژه¬های برون سپاری شده و ...</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>7-1</td>
            <td colspan="2">نظارت علمی- فنی طرح يا پروژه پژوهشي، پروژه¬های برون سپاری شده، طرح استاد و ...</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>8-1</td>
            <td colspan="2">مديريت علمی- فنی پروژه¬ها</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>9-1</td>
            <td colspan="2"> كسب رتبه در جشنواره¬های داخلی و خارجی با در نظر گرفتن اعتبار جشنواره و رتبه متقاضی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>10-1</td>
            <td colspan="2">اختراع يا اكتشاف ثبت شده در داخل کشور (داراي تأييديه از مراجع ذي صلاح)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>11-1</td>
            <td colspan="2">اختراع يا اكتشاف ثبت شده در خارج از کشور</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>12-1</td>
            <td colspan="2">
                توليد و واگذاري دانش فني/ اختراع يا اكتشاف منجر به توليد و تجاري سازي محصول
                (با تأييد مراجع ذيصلاح)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>13-1</td>
            <td colspan="2">
                مقاله علمي- پژوهشي، علمی- مروری منتشر شده در نشريات معتبر داخلی و خارجی
                (بر حسب اعتبار مجله)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>14-1</td>
            <td colspan="2">مقاله علمي منتشر شده در نشريات علمي- ترویجي داخلی معتبر </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>

            <td rowspan="2">15-1</td>
            <td rowspan="2">مقاله علمي کامل ارائه شده در كنفرانس¬هاي علمی معتبر</td>
            <td>بین المللی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ملی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>

            <td rowspan="2">16-1</td>
            <td rowspan="2">خلاصه مقاله علمي ارائه شده در كنفرانس¬هاي علمی معتبر</td>
            <td>بین المللی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ملی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>17-1</td>
            <td colspan="2">شرکت در کارگاه¬ها و دوره¬های آموزشی تخصصی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>18-1</td>
            <td colspan="2">داوري مقاله علمي پژوهشي نشریه¬های معتبر</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>19-1</td>
            <td colspan="2">داوري مقاله كنفرانس</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>20-1</td>
            <td colspan="2">راهنمايي پروژه پايان دوره کارشناسی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>21-1</td>
            <td colspan="2">استاد راهنماي مشترك پايان نامه كارشناسي ارشد</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>22-1</td>
            <td colspan="2"> استاد مشاور پايان نامه كارشناسي ارشد</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>23-1</td>
            <td colspan="2"> استاد راهنماي مشترك رساله دکتراي تخصصي</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>24-1</td>
            <td colspan="2"> استاد مشاور رساله دکترای تخصصي</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>25-1</td>
            <td colspan="2">هدايت محقق پسا دکتری، محقق فرصت مطالعاتی صنعتی و ...</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>26-1</td>
            <td colspan="2"> تأليف يا تصنيف كتاب (به زبان فارسی)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>27-1</td>
            <td colspan="2">تأليف يا تصنيف كتاب (به زبان خارجي) چاپ شده توسط ناشران معتبر بین¬المللی</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>28-1</td>
            <td colspan="2">تأليف مجموعه كتاب¬هایی همانند دائره المعارف</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>29-1</td>
            <td colspan="2">تدوين كتاب به شيوه گردآوري </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>30-1</td>
            <td colspan="2"> تدوين مجموعه مقالات همایش¬های علمی معتبر</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>31-1</td>
            <td colspan="2">ويرايش علمي كتاب </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>32-1</td>
            <td colspan="2">تصحيح انتقادي كتاب </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>33-1</td>
            <td colspan="2"> ترجمه كتاب مرتبط با تخصص نویسنده </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>