@using DataLayer.Entities
@{
    var categories = ViewBag.Group as List<ProductGroup>;
}


<div class="container">
    <div class="section-title">
        <h3>دسته بندی</h3>
        <ul class="nav" id="bstab1" role="tablist">
            @foreach (var item in categories)
            {
                <li class="nav-item">
                    <a class="nav-link active" id="bstab1-area-@item.Id-tab" data-toggle="tab" href="#bstab1-area-@item.Id" role="tab"
                       aria-controls="bstab1-area-@item.Id" aria-selected="true">@item.Title</a>
                </li>
            }
            @*<li class="nav-item">
                <a class="nav-link" id="bstab1-area2-tab" data-toggle="tab" href="#bstab1-area2" role="tab" aria-controls="bstab1-area2"
                   aria-selected="false">تبلت</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bstab1-area3-tab" data-toggle="tab" href="#bstab1-area3" role="tab" aria-controls="bstab1-area3"
                   aria-selected="false">تجهیزات جانبی</a>
            </li>*@
        </ul>
    </div>

    <div class="tab-content" id="bstab1-ontent">
        <div class="tab-pane fade show active" id="bstab1-area1" role="tabpanel" aria-labelledby="bstab1-area1-tab">
            <div class="product-slider trending-products-slider-2 slider-navigation-2">

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="bstab1-area2" role="tabpanel" aria-labelledby="bstab1-area2-tab">
            <div class="product-slider trending-products-slider-2 slider-navigation-2">

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="bstab1-area3" role="tabpanel" aria-labelledby="bstab1-area3-tab">
            <div class="product-slider trending-products-slider-2 slider-navigation-2">

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                    <!-- Single Product -->
                    <article class="hoproduct hoproduct-3">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb" href="product-details.html">
                                <img class="hoproduct-frontimage" src="~/images/Custom Size1.png" alt="product image">
                                <img class="hoproduct-backimage" src="~/images/Custom Size1.png" alt="product image">
                            </a>
                            <ul class="hoproduct-actionbox">
                                <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                            </ul>
                            <ul class="hoproduct-flags">
                                <li class="flag-pack">جدید</li>
                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title"><a href="product-details.html">محصول</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                    <span class="active"><i class="ion ion-ios-star"></i></span>
                                </div>
                            </div>
                            <div class="hoproduct-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice">30,000 تومان</del>
                                    <span class="price">20,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>

            </div>
        </div>
    </div>
</div>