@using DataLayer.DTO
@model List<DataLayer.ViewModels.Feature.FeatureQuestionListViewModel>

@{ int row = 1, i = 0;}
@foreach (var item in Model)
{
    <input type="hidden" name="vm.Items[@i].FeatureId" value="@item.Question.Id" />
        <div class="form-group">
            <label for="Tags" class="control-label col-sm-2">
                @item.Question.QuestionTitle
              
            </label>
            <div class="col-sm-10">
                <select class="form-control" required name="vm.Items[@i].FeatureValue">
                    <option value="">--لطفا انتخاب کنید--</option>
                    @foreach (var feature in item.Items)
                    {
                        <option value="@feature.Id">@feature.Value</option>
                    }
                </select>
            </div>
        </div>
    i++;
}

