@using DataLayer.DTO.Products
@model List<ProductFullDTO>
@using DNTPersianUtils.Core

<div class="product-slider deal-of-the-day-slider-2 slider-navigation-2 slider-dots">

    @foreach (var item in Model)
    {
    <div class="product-slider-col">
        @Html.Partial("_ProductWithDiscountPartial", item)
    </div>
    }

    <!--// Single Product -->
    <!-- Single Product -->


</div>

