@using DataLayer.DTO.Products
@model List<ProductFullDTO>

@using DNTPersianUtils.Core

@if (Model.Any())
{
    <div class="ho-section latest-products-area mtb-30" id="LastProduct">
        <div class="container">
            <div class="section-title">
                <h3>آخرین محصولات</h3>
            </div>

            <div class="product-slider deal-of-the-day-slider-2 slider-navigation-2 slider-dots">

                @foreach (var item in Model)
                {
                    <div class="product-slider-col">
                        @Html.Partial("_ProductWithDiscountPartial", item)
                    </div>
                }

                <!--// Single Product -->
                <!-- Single Product -->


            </div>


            <script src="~/js/site.js"></script>
        </div>
    </div>
}