@model List<DataLayer.Entities.Product>

<div class="ho-section related-product-area pb-30">
    <div class="container">
        <div class="section-title">
            <h3>محصولات مرتبط</h3>
        </div>
        <div class="product-slider new-best-featured-slider slider-navigation-2">
            @foreach (var item in Model)
            {

            <div class="product-slider-col">
                <!-- Single Product -->
                <article class="hoproduct">
                    <div class="hoproduct-image">
                        <a class="hoproduct-thumb" href="/Product/ProductDetail/@item.Id">
                            <img class="hoproduct-frontimage" src="@ViewBag.Url/@item.IndexPic" alt="product image">
                            <img class="hoproduct-backimage" src="@ViewBag.Url/@item.IndexPic" alt="product image">
                        </a>
                        <ul class="hoproduct-actionbox">
                            <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                            <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                            <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                        </ul>
                        <ul class="hoproduct-flags">
                            <li class="flag-pack">جدید</li>
                        </ul>
                    </div>
                    <div class="hoproduct-content">
                        <h5 class="hoproduct-title"><a href="product-details.html">@item.Title</a></h5>
                        <div class="hoproduct-rattingbox">
                            <div class="rattingbox">
                                <span class="active"><i class="ion ion-ios-star"></i></span>
                                <span class="active"><i class="ion ion-ios-star"></i></span>
                                <span class="active"><i class="ion ion-ios-star"></i></span>
                                <span class="active"><i class="ion ion-ios-star"></i></span>
                                <span class="active"><i class="ion ion-ios-star"></i></span>
                            </div>
                        </div>
                        <div class="hoproduct-pricebox">
                            <div class="pricebox">
                                <span class="price">@item.Price</span>
                            </div>
                        </div>
                    </div>
                </article>
                <!--// Single Product -->
            </div>
            }

           
        </div>
    </div>
</div>