@model List<DataLayer.DTO.NewsDTO>

<ul>
    @foreach (var item in Model)
    {
    <li>
        <a href="/Blog/NewsDetail/@item.Id" class="image">
            <img asp-append-version="true" src="@Url.Content( ViewBag.Url +"/" + item.ImageAddress)" title="@item.Title" alt="image">
        </a>
        <h6><a href="/Blog/NewsDetail/@item.Id">@(item.Title.Length > 40 ? item.Title.Substring(0,40).ToString() + "..." : item.Title)</a></h6>
        @*<span>از: <a href="blog-rightsideabr.html">Admin</a></span>*@
    </li>
    }
</ul>

@*<ul>
        <li>
            <a href="blog-details.html" class="image">
                <img src="~/Plugins/Template/images/blog/blog-item-image-1.jpg" alt="blog image">
            </a>
            <h6><a href="blog-details.html">عکاسی نوین از طبیعت</a></h6>
            <span>از: <a href="blog-rightsideabr.html">Admin</a></span>
        </li>
        <li>
            <a href="blog-details.html" class="image">
                <img src="~/Plugins/Template/images/blog/blog-item-image-2.jpg" alt="blog image">
            </a>
            <h6>
                <a href="blog-details.html">
                    عکاسی نوین از طبیعت
                </a>
            </h6>
            <span>از: <a href="blog-rightsideabr.html">Admin</a></span>
        </li>
        <li>
            <a href="blog-details.html" class="image">
                <img src="~/Plugins/Template/images/blog/blog-item-image-3.jpg" alt="blog image">
            </a>
            <h6>
                <a href="blog-details.html">
                    عکاسی نوین از طبیعت
                </a>
            </h6>
            <span>از: <a href="blog-rightsideabr.html">Admin</a></span>
        </li>
        <li>
            <a href="blog-details.html" class="image">
                <img src="~/Plugins/Template/images/blog/blog-item-image-4.jpg" alt="blog image">
            </a>
            <h6>
                <a href="blog-details.html">
                    عکاسی نوین از طبیعت
                </a>
            </h6>
            <span>از: <a href="blog-rightsideabr.html">Admin</a></span>
        </li>
        <li>
            <a href="blog-details.html" class="image">
                <img src="~/Plugins/Template/images/blog/blog-item-image-1.jpg" alt="blog image">
            </a>
            <h6><a href="blog-details.html">عکاسی نوین از طبیعت</a></h6>
            <span>از: <a href="blog-rightsideabr.html">Admin</a></span>
        </li>
    </ul>*@
