
@{
    ViewData["Title"] = "درخت‌کاری";
}
<style>
   

    .header-title {
        display: inline-block;
        top: 121px;
        padding-top: 36px;
        padding-right: 30px;
        padding-bottom: 35px;
    }

    .green {
        color: green !important;
    }

    .circle {
        padding: 13px 20px;
        border-radius: 50%;
        background-color: #ED8D8D;
        color: #fff;
        max-height: 50px;
        z-index: 2;
    }

    .how-it-works.row .col-2 {
        align-self: stretch;
    }

        .how-it-works.row .col-2::after {
            content: "";
            position: absolute;
            border-left: 3px solid #ED8D8D;
            z-index: 1;
        }

        .how-it-works.row .col-2.bottom::after {
            height: 50%;
            left: 50%;
            top: 50%;
        }

        .how-it-works.row .col-2.full::after {
            height: 100%;
            left: calc(50% - 5px);
        }

        .how-it-works.row .col-2.top::after {
            height: 50%;
            left: 50%;
            top: 0;
        }


    .timeline div {
        padding: 0;
        height: 40px;
    }

    .timeline hr {
        border-top: 3px solid #ED8D8D;
        margin: 0;
        top: 17px;
        position: relative;
    }

    .timeline .col-2 {
        display: flex;
        overflow: hidden;
    }

    .timeline .corner {
        border: 3px solid #ED8D8D;
        width: 100%;
        position: relative;
        border-radius: 15px;
    }

    .timeline .top-right {
        right: 49%;
        top: -52%;
    }

    .timeline .left-bottom {
        right: -48%;
        top: calc(50% - 3px);
    }

    .timeline .top-left {
        right: -48%;
        top: -51%;
    }

    .timeline .right-bottom {
        right: 49%;
        top: calc(50% - 3px);
    }
</style>


<div class="bg-white">
    <div class="">
        <h2 class="header-title">همه با هم و دست به دست هم برای آبادی و سرسبزی ایران</h2>
        <!--first section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-7">
                <h5>
                    <i class="fa fa-tree green" aria-hidden="true"></i>
                    روز درخت‌کاری در ایران
                </h5>
                <p class="font-size-14">
                    درخت‌کاری در ایران دارای پشتوانه ‌ای از علایق ملی و سنت تاریخی است، تاریخ نشان می ‌دهد که
                    ایرانیان باستان، جشن های خاصی داشتند و در این جشن ها به درخت‌کاری پرداخته و به خاک و زراعت احترام می‌ گذاشتند.

                    امروزه بیشتر کشورهای دنیا روز درختکاری را محترم شمرده و در این روز به کاشتن درخت ها و نهال های متفاوت اقدام می کنند.
                    <br />
                    در کشور ما روز درختکاری در 15 اسفند هر سال برگزار می شود و مردم با حضور در پارک ها، جنگل ها و اقصی نقاط شهر اقدام به کاشت نهال های جوان می کنند.
                </p>
            </div>
            <div class="col-3">
                <img src="~/images/tree1.jpg" title="روز درخت‌کاری در ایران" width="250px" />
            </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-3 text-left ">
                <img src="~/images/tree2.jpg" title="اهمیت درختکاری" width="250px" />
            </div>
            <div class="col-7 text-right">
                <h5>
                    <i class="fa fa-tree green" aria-hidden="true"></i>
                    اهمیت درختکاری

                </h5>
                <p class="font-size-14">
                    در ادیان و فرهنگ های مختلف جهان، درخت و درختکاری جایگاه خاصی دارد.
                    دین مقدس اسلام نیز بشر را به کاشت درخت تشویق و ترغیب کرده است و بعضی از بزرگان دین به این امر اشتغال داشته اند. حضرت علی علیه السلام در مدینه باغ های خرمای فراوانی به وجود آورد و بیشتر آنها را در راه خدا وقف کرد.
                    <br />
                    پیامبر صلی الله علیه و آله وسلم  در این باره می فرماید: «اگر شخصی درختی بکارد یا مزرعه ای را به زیر کشت ببرد و انسان ها، حیوانات یا پرندگان از آن بخورند، این کار صدقه ای از طرف آن شخص شمرده می شود».
                    <br />
                    مطالب یاد شده به روشنی، وظیفه تک تک ما را در حفظ و حراست از منابع طبیعی موجود، خصوصاً جنگل ها و مراتع و همچنین توسعه پایدار و گسترش این نعمت الهی، به عنوان یک وظیفه دینی و ملی، مشخص می کند.
                </p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-7">
                <h5>
                    <i class="fa fa-tree green" aria-hidden="true"></i>
                    لیفت بازار
                </h5>
                <p>
                    
                    در سالهای اخیر هم زمان با پیشرفت تکنولوژی و توسعه شهرسازی آسیب های زیادی از قبیل آلودگی هوا،افزایش دمای هوای کره زمین،کاهش منابع آب زیر زمینی، فرسایش خاک،افزایش ریز گردها و ...به طبیعت وارد شده است.
                    یکی از عوامل این آسیب ها تخریب جنگل ها و کاهش پوشش گیاهی شهرها و عدم جایگزینی پوشش گیاهی مناسب می باشد که در صورت ادامه ی این روند، نسلهای آینده با خطرات جدی تر زیست محیطی روبرو خواهند شد.
                    لیفت بازار در نظر دارد که همراه با تلاش برای ارائه تکنولوژی های به روز صنعت آسانسور،تسهیل فرایند خرید و نصبِ آسانسورهای مورد نیاز ساختمانها،علاوه بر همکاری در نوسازی بافت فرسوده شهری همگام با  شما عزیزان در راستای احیای محیط زیست کشور عزیزمان قدم بردارد.
                    طرح میراث سبز به شما عزیزان این امکان را می دهد که با خرید آنلاین از فروشگاه اینترنتی لیفت بازار در حین انجام پروژه ساختمانی خود و بدون انجام هزینه اضافی به طور همزمان تعدادی نهال در نقاط مختلف شهر غرص نموده و با این عمل سهمی بزرگ در هوای پاک و محیط زیست سالم برای خود و فرزندانتان داشته باشید.
                    با خرید آنلاین قطعات آسانسور از سایت لیفت بازار به ازای هر ۲۵ میلیون تومان خرید یک نهال به نام شما در شهر تهران کاشته خواهد شد.در صورت تمایل از شما برای کاشت نهال دعوت می شود و پس از کاشتن نهال عکس ان نهال برای شما ارسال می شود ،شما میتوانید از طریق سایت لیفت بازار نهال یا نهال هایی که به نام شما کاشته شده را پیگیری کنید.سوابق تمام نهال هایی که از ابتدای عضویت شما در سایت لیفت بازار با همکاری شما کاشته شده اند برای همیشه در دسترس خواهد بود و شما می توانید از میزان سهم خود در این اقدام عام المنفعه مطلع باشید.
                </p>
            </div>

            <div class="col-3">
                <img src="~/images/tree2.jpg" title="اهمیت درختکاری" width="250px" />
            </div>
        </div>
    </div>
</div>