@using DataLayer.Entities
@model Feature
@{
    ViewBag.Title = "ویرایش سوال";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var features = ViewBag.Features as List<DataLayer.DTO.Feature.FeatureIdTitleDTO>;

}

@{
    Layout = null;
}
<form asp-action="SubmitQuestion" class="form-horizontal" method="post" style="" enctype="multipart/form-data">


    <div class="form-group">
        <label for="Title" class="control-label col-sm-3"> ویژگی <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-9">
            <select asp-for="Id" data-role="select2" required class="form-control">
                <option value="">انتخاب نمایید...</option>
                @foreach (var item in features)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Title" class="control-label col-sm-3">عنوان سوال <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-9">
            <input type="text" class="form-control" required="required" asp-for="QuestionTitle" aria-describedby="QuestionTitle" placeholder="عنوان سوال" />
        </div>
    </div>


    <button type="submit" class="btn btn-block btn-success" id="sbtForm">ثبت</button>


    <script>

    </script>
</form>
