
@{
    ViewData["Title"] = "صفحه ورود";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<style>
    .fullscreen-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-position: 70% 40%;
        background: url('/images/ElevatorBack2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        min-height: 100%;
    }

    html {
    }
</style>


<div class="fullscreen-bg">

</div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">لیفت بازار</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">تغییر رمز عبور</h4>
                                    @if (ViewBag.ErrorMessages != null)
                                    {
                                        <div class="message-light">
                                            @ViewBag.ErrorMessages
                                        </div>
                                    }
                                    <form class="form-account" asp-action="AuthorizePhoneNumber" asp-controller="Account" asp-route-PhoneNumber="@ViewBag.PhoneNumber">
                                        <div class="form-account-title">
                                            <label for="password">کد فعال سازی</label>
                                            <input class="password-input" name="ActiveCode" type="number"
                                                   placeholder="کد فعال سازی">
                                        </div>

                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">فعال سازی</button>
                                        </div>
                                    </form>
                                    <div class="account-box-footer">
                                        <span>آیا کد به دست شما نرسیده است؟؟</span>
                                        <a href="/Account/ResendCode?phoneNumber=@ViewBag.PhoneNumber" class="btn-link-border">ارسال مجدد کد</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>




