@using DataLayer.ViewModels.User
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ویرایش رمز عبور";
    Layout = "~/Views/Shared/_Login.cshtml";

}


<style>
    .fullscreen-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-position: 70% 40%;
        background: url('/images/ElevatorBack2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        min-height: 100%;
    }

    html {
    }
</style>

<div class="fullscreen-bg">

</div>

<div class="wrapper defaLoginTemplatet">
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">

                    <div class="account-box-title text-center">ویرایش رمز عبور</div>
                    <div class="account-box-content">
                        <form class="form-account" asp-controller="Account" asp-action="ChagePassword">
                            <div class="form-account-title">رمز عبور فعلی</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input asp-for="CurrentPassword" class="input-field" type="text"
                                       placeholder="رمز عبور فعلی">
                            </div>

                            <div class="form-account-title">رمز عبور جدید</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input asp-for="NewPassword" class="input-field" type="text"
                                       placeholder="رمز عبور جدید">
                            </div>

                            <div class="form-account-title">تکرار رمز عبور</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input asp-for="RePassword" class="input-field" type="text"
                                       placeholder="تکرار رمز عبور">
                            </div>

                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ویرایش رمز عبور
                                        <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="account-box-footer">
                        <span>کاربر جدید هستید؟</span>
                        <a href="/Account/Register" class="btn-link-border">
                            ثبت‌نام در
                            لیفت بازار
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
