@using DataLayer.ViewModels.User
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ویرایش رمز عبور";
    Layout = "~/Views/Shared/_Login.cshtml";

}


<style>
    .fullscreen-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-position: 70% 40%;
        background: url('/images/ElevatorBack2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        min-height: 100%;
    }

    html {
    }
</style>


<div class="fullscreen-bg">

</div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">لیفت بازار</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">تغییر رمز عبور</h4>
                                    <form class="form-account" asp-controller="Account" asp-action="ChagePassword">
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور فعلی</label>
                                            <input type="password" class="password-input" asp-for="CurrentPassword">
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور جدید</label>
                                            <input type="password" class="password-input" asp-for="NewPassword">
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">تکرار رمز عبور جدید</label>
                                            <input type="password" class="password-input" asp-for="RePassword">
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">تغییر رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>